.controls {
}

.main-controls {
    display: flex;
}

.module {
    flex-grow: 1;
    border: 1px solid black;
    border-radius: 5px;
}

.module-title {
    text-align: center;
    font-size: 16pt;
    font-weight: bold;
}

.module-controls {
    display: flex;
}

.module-controls-column {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}